<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pagina Principal</title>
    
</head>
<body>
    <header>
        <div>
            <div class="titulologo" id="titulologo-"><h1>Cine Colombiano.</h1></div>
        <div>Imagen Logo</div></div>
<div>
<nav>
    <ul type="square">
        <li><a href="#otro lugar">Link 1</a> </li>
        <li><a href="#otro lugar">Link 2</a> </li>
        <li><a href="#otro lugar">Link 3</a> </li>
        <li><a href="#otro lugar">Link 4</a> </li>
    </ul>   
</nav> 

    </div>
     
</header>
</body>
</html>